/* heading color */
.text-red {
    color: #F94C66;
}

/* icon color */
.fa-dollar-sign {
    color: #FBDF07;
}

.input-width {
    width: 70%;
}

.calculate-button-width {
    width: 40%;
}

.save-input-width {
    width: 25%;
}

.save-button-width {
    width: 25%;
}